*.xla diff=xl
*.xlam diff=xl
*.xlsm diff=xl
*.xltm diff=xl
*.xls diff=tika
*.xlsx diff=tika
*.xlt diff=tika
*.xltx diff=tika
*.xlsb diff=tika
*.doc diff=tika
*.docx diff=tika
*.ppt diff=tika
*.pptx diff=tika